workspace/graphs/
workspace/temp_detect/
workspace/cpg/
workspace/json/
data/safe/
.venv/
__pycache__/
*.bin
*.pt
embeddings/
*.deb
graphsentinel_staging/
tmp_makeself/
GRAPHSENTINEL/
tmp_makeself/
*.run
